@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/source-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root > * {
    --md-primary-fg-color: #6785be;
    --md-primary-fg-color--light: #6785be;
    --md-primary-fg-color--dark:  #6785be;
    --md-text-font: "Source Sans 3", sans-serif;
}

/* Default / Light Mode */
[data-md-color-scheme="default"] .md-header__button.md-logo img {
    /* --md-default-bg-color: #f8f8f8; */
    content: url("/img/logo/svg/animexx-logo_RGB.svg");
}

/* Dark Mode */
[data-md-color-scheme="slate"] .md-header__button.md-logo img {
    content: url("/img/logo/svg/animexx-logo_RGB-weiß.svg");
}

.md-header__source {
    display: none;
}
