name: Test

on:
  push:
    branches:
        - "**"

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          cache: "pip"
      - run: |
          pip install -r requirements-dev.txt
          mkdocs build
